.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    transition: all 0.3s;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .button span {
    color: #000; /* Default text color */
  }
  
  .button:hover {
    transform: scale(1.25);
  }
  
  .black {
    background-color: #333333;
 /* Change this to the desired background color */
    color:white; /* Change this to the desired text color */
  }
  .black span {
    color: white;
  }
  .white {
    background-color: #ffffff; /* Change this to the desired background color */
    color: #000000; /* Change this to the desired text color */
  }
  