.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 0px;
    padding: 1.5rem 2rem;
    border: none;
    font-family: inherit;
  }
  
  .button span {
    color: #000;
  }
  
  
  .black {
    background-color: #333333;
    letter-spacing: 0.256em;
    line-height: 12px;
    font-weight: 400;
    font-family: inherit;
    color:white;
  }
  .black span {
    color: white;
  }
   .white {
    background-color: #ffffff;
    color: #333333;
    ; 
    letter-spacing: 0.256em;
    line-height: 12px;
    font-weight: 400;
    font-family: inherit;
  }
  
  @media (max-width:760px) {
    .button{
      gap: 10px;
      margin: 0px;
      padding: 1rem 1.5rem;
      border: none;
      font-family: inherit;
      font-size: 10px;
    }
  }