

.about-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 20px;
  }
  
  .image-container {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .image-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .image-column2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .paragraph {
    
    font-size: 1.5rem;
  }
  
  .button-section {
    margin-bottom: 40px;
  }
  