.contact-section {
    position: relative;
  }
  
  .contact-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-height: 400px; /* Adjust max-height as needed */
    margin-top: 5px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 40%; /* Adjust width as needed */
  }
  
  .contact-image-container {
    width: 60%; /* Adjust width as needed */
  }
  
  .contact-image {
    width: 100%;
    height: 100%;
  }
  
  .contact-button {
    margin-top: 5px;
  }
  