

.focus-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sections-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  @media (min-width: 640px) {
    .sections-container {
      flex-direction: row;
    }
  }
  