

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-basis: 33.33333%;
    gap: 80px;
    padding-left: 20px;
  }
  
  .project-heading {
    color: #cbd5e0;
    font-size: 3rem;
    font-weight: 300;
  }
  
  .title {
    color: #4a5568;
    font-size: 3rem;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 5px;
  }
  
  .relative-section {
    position: relative;
  }
  .relative-section .button-container{
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .image-container {
    width: 100%;
    height: 100%;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

  