

.heading {
    color: #cbd5e0; 
    font-size: 1.875rem; 
    font-weight: 300; 
  }
  
  .small-heading {
    font-size: 2.5rem; 

  }
  
  .large-heading {
    font-size: 3.5rem; 
    text-transform: uppercase; 
  }
  