.footer {
    background-color: #2C2C2C;
    ;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    color: white;
  }
  
  .footer-content {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:start;
    gap: 20px;
    padding: 3%;
  }
  
  .logo-container {
    margin-left: 20px;
  }
  
  .logo {
    width: 100%;
    height: 100%;
  }
 
  .section-title {
    font-size: 1.5rem;
  }
  
  .information-list,
  .contacts-list {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    justify-content: space-between;
  }

  .social-media-list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-icon {
    width: 1rem;
    height: 1rem;
  }

  .social-media-item:hover {
    transform: scale(1.25);
  }
  
  .footer-bottom {
    border-top: 2px solid #FFFFFF;
    text-align: center;
    color: #C8C8C880;
    padding: 8px;
    font-weight: 400;
  }
  